src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getSongs" doc:id="54b6355c-fe6d-48fe-9db0-0db3964492f2" >
		<logger level="INFO" doc:name="Logger" doc:id="739757db-ca19-4195-9c68-fc86295502d4" message="getsongs flow started"/>
		<db:select doc:name="Select" doc:id="160321ca-8b0f-4e94-969e-411180f9cb14" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * from SONGS]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="cb7f402a-ea2e-49e4-82d0-7c8c2ceb9e2b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="dbb3ea93-266d-4893-b27e-77cd343de5b1" message="getSongs flow ended"/>
	</flow>
	<flow name="getSongsByID" doc:id="08d06fc6-b0fe-485c-845d-1026f7e2c51e" >
		<logger level="INFO" doc:name="Logger" doc:id="8ff83b0e-9dd0-471a-a6b0-4cb4c383d889" message="getSongsByID flow started"/>
		<db:query-single doc:name="Query single" doc:id="153da376-3b5e-4524-ac40-8619b729979f" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * from SONGS WHERE ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.id}]]]></db:input-parameters>
		</db:query-single>
		<ee:transform doc:name="Transform Message" doc:id="3f8dcbb7-5c94-4598-9436-1640c046c04c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b1f5ce29-7146-4229-b6a6-0c147884676a" message="getSongsByID flow ended"/>
	</flow>
	<flow name="getArtists" doc:id="9bd1a51b-5a7a-44d3-88bf-1a0fdc8cf36b" >
		<logger level="INFO" doc:name="Logger" doc:id="a646793c-3d72-4731-ad34-de128e4e1b90" message="getArtists Flow started"/>
		<db:select doc:name="Select" doc:id="e3247d36-a4e2-41ed-8c59-a1c96202518b" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * from ARTISTS]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="312d0b26-c64d-4cc5-b5de-7bb3d8372890" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="46dd074f-e126-4f24-a74c-0945ab344a66" message="getArtists Flow ended"/>
	</flow>
	<flow name="getArtistsByID" doc:id="56520b19-de34-4575-a501-d9c2b570c4d1" >
		<logger level="INFO" doc:name="Logger" doc:id="c4fc33cd-db75-4bfd-aaae-02e5addfeb68" message="getArtistsByID flow started"/>
		<db:query-single doc:name="Query single" doc:id="da8655a8-28a6-49e4-992f-25ac2ffe6798" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * from ARTISTS WHERE ID= :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.id}]]]></db:input-parameters>
		</db:query-single>
		<ee:transform doc:name="Transform Message" doc:id="312ee990-8d20-491c-adc1-4669276f35ee" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="60e9b292-e1ca-44cc-9644-14e44ef62d6c" message="getArtistsByID flow ended"/>
	</flow>
	<flow name="getAlbums" doc:id="b22c2026-f073-411f-949e-6e4ed8f145f5" >
		<logger level="INFO" doc:name="Logger" doc:id="bc99819c-b01a-442d-a5bd-614def319243" message="getAlbums flow started"/>
		<db:select doc:name="Select" doc:id="96f06572-63fc-49b2-8a56-bba781fc4fbd" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * from ALBUMS]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="f1833027-20ad-4ac9-b98a-619b751d0f61" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="645da332-66b2-49aa-be58-b7c86973f720" message="getAlbums flow started"/>
	</flow>
	<flow name="getAlbumsByID" doc:id="97bac322-c9f8-4161-93e9-3ea130636994" >
		<logger level="INFO" doc:name="Logger" doc:id="36c7e6bd-d683-459c-a4f3-e406b8531ac5" message="getAlbumsByID flow started"/>
		<db:query-single doc:name="Querysingle" doc:id="6f14790d-1385-4ec7-a767-ef20d6bcf55f" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * from ALBUMS WHERE ID= :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.id}]]]></db:input-parameters>
		</db:query-single>
		<ee:transform doc:name="Transform Message" doc:id="74f49aab-eb06-4018-b725-426754c8c0e6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cc4cfa85-7451-435e-b43b-67188be767a8" message="getAlbumsByID flow ended"/>
	</flow>
</mule>
